
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
    <title>Weather</title>
</head>
<body>
   <div class="parent">
    <div class="weather">
         <h2>{{title}}</h2>
    <form id="form1">
        <input type="text" id="address">
        <button id="search">search</button> 
        <p id="country"></p>
        <p id="capital"></p>
        <p id="longitude"></p>
        <p id="latidude"></p>
        <p id="forcast"></p>
        <p id="temp"></p>
        <p id="localTime"></p>
        <p id="error"></p>
    </form>
    </div>
   </div>
    <script src="js/script.js"></script>
</body>
</html>